@import "src/theme/theme-variables";

.home_blog_section {
  max-height: 445px;
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
  span {
    &.title {
      @media (max-width: 500px) {
        display: block;
      }
    }
  }
  &.add-padding {
    margin-top: 0 !important;
    .home_blog_section_content {
      padding: 0 33px !important;
    }
  }
  &:before {
    content: "";
    box-shadow: inset 0px -100px 100px -30px var(--primary-color);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 9;
    border-radius: 5px;
  }
  img {
    max-height: 445px;
    object-fit: cover;
  }
  .home_blog_section_content {
    z-index: 9;
    bottom: 0;
    h3 {
      color: var(--white-color);
    }
    span {
      font-size: 14px;
      color: var(--white-color);
    }
    ul {
      color: var(--white-color);
      li {
        &:first-child {
          padding-left: 0 !important;
        }
        &:last-child {
          padding-right: 0 !important;
        }
        i {
          font-size: 14px;
        }
      }
    }
  }
}
