.main_details {
  margin-bottom: 64px;
  .details_banner {
    img {
      max-height: 445px;
      object-fit: cover;
    }
    ul {
      top: 0;
      color: var(--white-color);
      li {
        font-size: 18px;
      }
    }
  }
}

.details_content {
  span {
    font-size: 14px;
  }
  ul {
    li {
      color: var(--Dark-grayish-red);
      font-size: 14px;
      i {
        color: var(--black-color);
      }
    }
    &.listing {
      li {
        background: var(--Dark-grayish-red);
        width: 33.33%;
        font-size: 14px;
        color: var(--white-color);
        i {
          color: var(--white-color);
        }
        &:last-child {
          margin-right: 0 !important;
        }
      }
    }
  }
}

.detail-card-header {
  h2 {
    color: var(--primary-color);
  }
}

.cabarete_one_slider {
  .inner_cabarete_one_slider {
    img {
      max-height: 445px;
      object-fit: cover;
    }
  }
}

.related_slider {
  .home_blog_section {
    margin: 0;
  }
}

.bottom_btn {
  background: var(--primary-color);
  margin: 0 -15px;
  bottom: 0;
  z-index: 99;
  button {
    background: var(--pure-orange);
    color: var(--white-color);
    outline: none;
  }
}
