.forecast {
  h3 {
    color: var(--primary-color);
  }
  .main_forecast {
    background: var(--Very-dark-blue);
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
    color: var(--white-color);
    .header_forecast {
      .title {
        width: 65%;
        i {
          font-size: 14px;
          color: var(--Moderate-blue);
        }
        span {
          font-size: 15px;
          color: var(--white-color);
          line-height: normal;
        }
      }
      .temperature {
        width: 35%;
        ul {
          font-size: 14px;
          li {
            i {
              &.fa {
                &.fa-sun-o {
                  font-size: 24px;
                  color: var(--Soft-orange);
                  width: 26px;
                  height: 26px;
                }
                &.fa-arrow-left {
                  font-size: 14px;
                  transform: rotate(-25deg);
                  border: 2px solid var(--Strong-lime-green);
                  border-radius: 50%;
                  width: 26px;
                  height: 26px;
                }
              }
            }
            span {
              font-size: 12px;
            }
          }
        }
      }
    }
    .progress_border {
      i {
        font-size: 14px;
      }
    }
  }
}
