<div class="row">
  <div class="col-md-12">
    <div class="forecast detail-card-header pt-3 pb-3">
      <h3 class="h3 font-weight-light mb-3">Centers in Cabarete</h3>
      <div class="main_forecast rounded p-3">
        <div class="header_forecast d-flex">
          <div class="title d-flex">
            <i class="fa fa-map-marker mr-1" aria-hidden="true"></i>
            <span>Dominican Republic - Cabarete - Kite beach #kite</span>
          </div>
          <div class="temperature">
            <ul class="list-inline text-center d-flex justify-content-end m-0 p-0">
              <li class="ml-1 mr-1">
                <i class="fa fa-sun-o mt-1 mr-1" aria-hidden="true"></i
                ><span class="d-block mt-1 font-weight-light">29 *c</span>
              </li>
              <li class="ml-1 mr-1">
                <i
                  class="fa fa-arrow-left p-1 mt-1 mr-1 d-flex align-items-center justify-content-center"
                  aria-hidden="true"
                ></i
                ><span class="d-block mt-1 font-weight-light">14 kts</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="progress_border d-flex mt-2">
          <i class="fa fa-random d-inline-block mr-1" aria-hidden="true"></i>
          <img class="w-100" src="assets/images/border_week.png" />
        </div>
      </div>
    </div>
  </div>
</div>
