<div class="row">
  <div class="col-md-12">
    <div class="forecast detail-card-header">
      <h2>Centers in Cabarete</h2>
      <div class="main_forecast">
        <div class="header_forecast">
          <div class="title">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
            <h3>Dominican Republic - Cabarete - Kite beach #kite</h3>
          </div>
          <div class="temperature">
            <ul>
              <li><i class="fa fa-sun-o" aria-hidden="true"></i><span>29 *c</span></li>
              <li><i class="fa fa-arrow-left" aria-hidden="true"></i><span>14 kts</span></li>
            </ul>
          </div>
        </div>
        <div class="progress_border">
          <i class="fa fa-random" aria-hidden="true"></i>
          <img src="assets/images/border_week.png" />
        </div>
      </div>
    </div>
  </div>
</div>